<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    


<!--  Content that initiates the modal opening  -->
  <div class="modal-content-wrapper">
    <div class="image-modal-content">
        <img src="https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
        data-title="My Cool Title" 
        data-description="This is a super cool description"
        data-url="https://riley.gg/" 
        data-repo="https://github.com/Riley-Brown" alt="Vanilla JS Modal">
    </div>
    <div class="image-modal-content">
        <img src="https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
        data-title="Another Cool Title" 
        data-description="This is also a super Cool description"
        data-url="https://riley.gg/" 
        data-repo="https://github.com/Riley-Brown" alt="Vanilla JS Modal">
    </div>
    <div class="image-modal-content">
        <img src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
        data-title="My Cool Modal" 
        data-description="What a cool modal wow!"
        data-url="https://riley.gg/" 
        data-repo="https://github.com/Riley-Brown" alt="Vanilla JS Modal">
    </div>
    <div class="image-modal-content">
        <img src="https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
        data-title="My Cool Title" 
        data-description="This is a super Cool Title"
        data-url="https://riley.gg/" 
        data-repo="https://github.com/Riley-Brown" alt="Vanilla JS Modal">
    </div>
    <div class="image-modal-content">
        <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
        data-title="My Cool Title" 
        data-description="This is a super Cool Title"
        data-url="https://riley.gg/" 
        data-repo="https://github.com/Riley-Brown" alt="Vanilla JS Modal">
      </div>
    <div class="image-modal-content">
        <img src="https://images.pexels.com/photos/9080/night-garden-yellow-animal.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
        data-title="Cool Doggo" 
        data-description="Look at this cool little doggo"
        data-url="https://riley.gg/" 
        data-repo="https://github.com/Riley-Brown" alt="Vanilla JS Modal">
    </div>
  </div>


  <!-- modal popup (displayed none by default) -->
  <div class="image-modal-popup">
    <div class="wrapper">
     <span>&times;</span>
      <img src="" alt="Image Modal">
      <div class="description">
        <h1>This is placeholder content</h1>
        <p>This content will be overwritten when the modal opens</p>
        <a href="#" target="_blank" rel="noopener noreferrer">View Cool Link</a>
        <a href="#" class="secondary-link" target="_blank" rel="noopener noreferrer">View Another Link</a>
      </div>
    </div>
  </div>


<script src="script.js"></script>
  </body>
</html>