/* -------base css ---------- */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul, ol {
  padding: 0;
  list-style: none;
}

body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  font-size: 1.8rem;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: CustomRoboto; /* Имя шрифта */
  src: url(fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}
/* -------base css end ---------- */


/* --------main css ---------- */

body {
  background-color: #fff;
  font-family: CustomRoboto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
/* elements */
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}


.input {
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #363636;
}

.input:hover {
  border-color: #b5b5b5;
}

.input:active, .input:focus {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
  outline: none;
}

.input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.field:not(:last-child) {
  margin-bottom: .75rem;
}

.btn {
  display: inline-block;
  background: #315f9d;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
  transition: 0.5s;
}
.btn:hover {
  background: #4977b5;
  box-shadow:  0 0 0.4rem #000;
}

.table {
  width: 100%;
  border: 0.1rem #000 solid;
  border-collapse: collapse;
}

.table tr > th {
  padding: 1rem;
  color: #fff;
  background-color: #315f9d;
}

.table tr > td {
  padding: 1rem;
}

.table th, td {
  border: 0.1rem #000 solid;
}


/* elements */

.header {
  background-color: #fff;
  box-shadow: 0 0.1rem 0.5rem #0000002e
}

.screen-m {
  background-color: #f2f2f299;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: inherit;
}

.logo__images {
  width: 15rem;
  padding: 0.9rem;
}

.logo__name {
  display: block;
  align-self: center;
  padding-left: 2rem; 
}

.nav ul {
  display: flex;
}

.nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 1.5rem 2rem;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 0.5s
}

.nav ul li a:hover {
  background-color: #315f9d;
  color: #fff;
}


/* --------main css end---------- */


/* --------section-one css ---------- */

.section-one {
  background: url("img/customn/avia-header.jpg") no-repeat;
  background-size: cover;
  background-position-y: 70%;
  padding: 5rem 0;
  min-height: 100vh;
}


.promo__title {
  color: #fff;
  font-size: 3.2rem;
}

.infographics {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 4rem;
}

.step {
  font-size: 2.3rem;
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  margin: 1rem;
  border-radius: 50%;
  position: relative;
}

.step__content, .step__description {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
}

.step__content {
  top: 50%;
}

.step__description {
  top: 140%;
  width: 20rem;
  text-align: center;
  color: #fff;
}

.form-gorizontal {
  display: flex;
  justify-content: space-around;
}

.form-vertical {
  display: flex;
  flex-direction: column;
  width: 35rem;
}

.itog {
  margin: 3rem;
  font-size: 3.2rem;
  color: #fff;
}

.itog-cost { 
  font-size: 5rem;
}

/* --------section-one css end---------- */


/* --------section-two css ---------- */

.section-two {
  padding: 5rem 0;
}

.section-two__title h2{
  text-align: center;
  font-size: 2.4rem;
  margin: 2rem 0;
}
.section-two__body {
  padding: 1.5rem 0;
}

.about-company, .form-search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-company__images {
  flex: 1 0 50%;
  min-width: 25rem;
}

.about-company__body {
  align-self: center;
  flex: 1 0 45%;
  margin-left: 1rem;
}

.about-company__body p {
  margin: 1rem 0;
}

.form-search__body {
  align-self: center;
  margin-right: 20rem;
}

.stock {
  display: flex;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: 0 auto;
}

.stock__element {
  position: relative;
  flex: 1 0 45%;
  margin: 1rem 0;
  cursor: pointer;
  border: 1px solid #fff;

}

.stock__element::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 1rem;
  display: block;
  width: calc(100% - 2rem);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .5s;
}

.stock__element:hover::before, 
.stock__element:hover .stock__description-block {
  opacity: 1;
}

.stock__images {
  object-fit: cover;
  width: 38rem;
  height: 28rem;
  margin: 0 auto;
  display: block;
}

.stock__title {
  padding: 1rem 0; 
}

.stock__description {
  padding: 2rem 0; 
}
.stock__description-block {
  opacity: 0;
  color: #fff;
  max-width: calc(100% - 5rem);
  position: absolute;
  top: 5%;
  left: 5%;
  transition: opacity .5s;

}
  
/* --------section-two css end---------- */

.footer {
  color: #fff;
  background-color: #315f9d;
  min-height: 20vh;
  padding: 2.5rem;
  margin-top: auto;
}  

.footer p {
  text-align: center;
}



/* ------------- popup ---------------- */

.popup {
  position: relative;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}

.popup::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: -10;
}

/* ------------- popup end---------------- */


/* --------------- search html ----------------*/

.select-rese {
  position: relative;
  margin: 5rem 0;
}

.select-rese__title {
  text-align: center;
  font-size: 2.5rem;
}

.select-rese__body {
  display: flex;
  flex-wrap: wrap;
}
.select-rese__block {
  flex: 1 0 45%;
  text-align: center;
  margin: 2rem 0;
  background: url("img/clouds/cloud_040.png") no-repeat;
}

.select-rese__buttons {
  margin: 0 auto;
}


/* --------------- search end ----------------- */


/* --------- component card-------- */

.card {
  max-width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(10,10,10,.3);
}
.card__title, .card__body {
  padding: 1rem 2rem;
}

.card__title {
  background-color: #315f9d;
  color: #fff;
}

.card__body {

}


/* --------- component card end-------- */

.btn-close {
  transform: translate(20px, -3px);
}
.btn-close span{
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg) scale(1);
  transform-origin: center;
  font-size: 3rem;
  display: inline-block;
  cursor: pointer;
  transition: transform .3s;
}

.btn-close span:hover {
  transform: scale(1.1) rotate(45deg) ;
}

.btn-add {
  width: 2rem;
  height: 2rem;
  transform: scale(1);
  transform-origin: center;
  font-size: 3rem;
  display: inline-block;
  cursor: pointer;
  transition: transform .3s;
}

.btn-add span:hover {
  transform: scale(1.1) ;
}

.__title {
  display: flex;
}