/* -------base css ---------- */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul, ol {
  padding: 0;
  list-style: none;
}

body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  font-size: 1.8rem;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: CustomRoboto; /* Имя шрифта */
  src: url(fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}
/* -------base css end ---------- */


/* --------main css ---------- */
body {
  background-color: #fff;
  font-family: CustomRoboto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* --------main css ---------- */


/* elements  modify*/
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.screen-m {
  background-color: #f2f2f299;
}

.form-gorizontal {
  display: flex;
  justify-content: space-around;
}

.form-vertical {
  display: flex;
  flex-direction: column;
  width: 35rem;
}
.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow-white {
  box-shadow: 0 0 1rem #fff !important;
}

.screen-top {
  margin-top: 5rem;
}

.border-green {
  border: 0.5rem solid #25ce7a;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: .9s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-2rem); }
  50%  { transform: scale(1,1)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-0.7rem); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}



.control {
  display: flex;
}

.control input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.control button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.rese-graphick {
  background: linear-gradient(90deg, #4119a0, #04dbfd);
  text-align: center;
  width: 20%;
  height: 2vh;

}
/* elements modify*/







/*--------------------------------*/
/*--------- COMPONENTS------------*/
/*-------------------------- -----*/



.input, .select select{
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #363636;
}

.input:hover {
  border-color: #b5b5b5;
}

.input:active, .input:focus {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
  outline: none;
}

.input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.field:not(:last-child) {
  margin-bottom: .75rem;
}


.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;

  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

.select::before {
  content: " ";
  border-color: #3273dc;
  right: 1.125em;
  z-index: 4;

  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .625em;
  margin-top: -.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: .625em;
}


.btn {
  display: inline-block;
  background: #315f9d;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
  transition: 0.5s;
}
.btn:hover {
  background: #4977b5;
  box-shadow:  0 0 0.4rem #000;
}


.table {
  width: 100%;
  border: 0.1rem #000 solid;
  border-collapse: collapse;
}

.table tr > th {
  padding: 1rem;
  color: #fff;
  background-color: #315f9d;
}

.table tr > td {
  padding: 1rem;
}

.table th, td {
  border: 0.1rem #000 solid;
}

/* ------------- component card ---------------- */
.card {
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(10,10,10,.3);
  position: relative;
  background-color: #fff;
}
.card__title {
  padding: 1rem 2rem;
}
.card__title {
  background-color: #315f9d;
  color: #fff;
}
.card__body {
  padding: 1.5rem 2rem;
}
.card__title--close::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 90%;
  background-color: #fff;
}

/* ------------- component card end ---------------- */

/* ------------- component popup ---------------- */
.modal-container {
  position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.modal-show {
  display: block;
}

.modal {
	position: absolute;
	width: 45rem;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -40%);

	background-color: #fff;
	color: #363636;
  border-radius: 0.4rem;
}

.modal-head {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 1rem;
}
.modal-content p {
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-top: 1px solid #d9d9d9;
}

/* -------------component popup end---------------- */


/*-----------------------------------*/
/*--------- COMPONENTS END------------*/
/*-------------------------- -------*/






/*-----------------------------------*/
/*--------- LAYOUT --------------*/
/*-------------------------- -------*/

.header {
  background-color: #fff;
  box-shadow: 0 0.1rem 0.5rem #0000002e;
  position: fixed;
  width: 100vw;
  z-index: 100; 
}
.header::before {
  content: '';
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.section-one {
  background: url("img/customn/avia-header.jpg") no-repeat;
  background-size: cover;
  background-position-y: 70%;
  padding: 5rem 0;
  min-height: 100vh;
}


.section-two {
  padding: 5rem 0;
}
.section-two__title h2{
  text-align: center;
  font-size: 2.4rem;
  margin: 2rem 0;
}
.section-two__body {
  padding: 1.5rem 0;
}


.footer {
  color: #fff!important;
  background-color: #315f9d;
  min-height: 20vh;
  padding: 2.5rem;
  margin-top: auto;
  position: relative;
  overflow: hidden;
}  

.footer::before {
  position: absolute;
  top: 0%;
  left: -22%;
  content: "";
  display: block;
  background: url("img/clouds/cloud_064.png") no-repeat;
  background-size: cover;
  width: 70rem;
  height: 20rem;
  z-index: 5;
}

.footer::after {
  position: absolute;
  top: -35%;
  left: 75%;
  content: "";
  display: block;
  background: url("img/clouds/cloud_064.png") no-repeat;
  background-size: cover;
  width: 70rem;
  height: 20rem;
  z-index: 5;
  transform: rotate(180deg);
}

.footer p {
  text-align: center;
}

.footer .nav ul {
  
  z-index: 10;
  justify-content: center;
}





/*-----------------------------------*/
/*--------- LAYOUT END--------------*/
/*-------------------------- -------*/






.logo {
  display: flex;
  color: inherit;
}
.logo__images {
  width: 15rem;
  padding: 0.9rem;
}
.logo__name {
  display: block;
  align-self: center;
  padding-left: 2rem; 
}


.nav ul {
  display: flex;
}
.nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 1.5rem 2rem;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 0.5s
}
.nav ul li a:hover {
  background-color: #315f9d;
  color: #fff;
}






/*-----------------------------------*/
/*--------- PAGES--------------*/
/*-------------------------- -------*/


/* --------index.html start--------- */
.promo__title {
  color: #fff;
  font-size: 3.2rem;
}
.promo__itog {
  margin: 3rem;
  font-size: 3.2rem;
  color: #fff;
}
.promo__itog-cost { 
  font-size: 5rem;
}
.promo__infographics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 4rem;
}

.step {
  text-align: center;
  margin: 2rem 0;
}
.step__point {
  font-size: 2.3rem;
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  margin: 1rem auto;
  border-radius: 50%;
  position: relative;
}
.step__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.step__description {
  top: 140%;
  color: #fff;
}

.step .field {
  margin-top: 1.5rem;
}


.about-company, .form-search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-company__images {
  flex: 1 0 50%;
  min-width: 25rem;
}
.about-company__body {
  align-self: center;
  flex: 1 0 45%;
  margin-right: 1.5rem;
}
.about-company__body p {
  margin: 1rem 0;
}

.form-search__body {
  align-self: center;
  margin-right: 20rem;
}

.stock {
  display: flex;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: 0 auto;
}
.stock__element {
  position: relative;
  flex: 1 0 45%;
  margin: 1rem 0;
  border: 1px solid #fff;
  cursor: pointer;
}
.stock__element::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 1rem;
  display: block;
  width: calc(100% - 2rem);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .5s;

}
.stock__element:hover::before, 
.stock__element:hover .stock__description-block {
  opacity: 1;
}
.stock__images {
  object-fit: cover;
  width: 38rem;
  height: 28rem;
  margin: 0 auto;
  display: block;
}
.stock__title {
  padding: 1rem 0; 
}
.stock__description {
  padding: 2rem 0; 
}
.stock__description-block {
  opacity: 0;
  color: #fff;
  max-width: calc(100% - 5rem);
  position: absolute;
  top: 5%;
  left: 5%;
  transition: opacity .5s;

}
/* --------index.html end--------- */



/* --------------- search html ----------------*/
.select-rese {
  position: relative;
  margin: 5rem 0;
}

.select-rese__title {
  text-align: center;
  font-size: 2.5rem;
}

.select-rese__body {
  display: flex;
  flex-wrap: wrap;
}
.select-rese__block {
  flex: 1 0 45%;
  text-align: center;
  margin: 2rem 0;
  background: url("img/clouds/cloud_040.png") no-repeat;
}

.select-rese__buttons {
  margin: 0 auto;
}
/* --------------- search end ----------------- */


/* --------------- booking html ----------------*/

.booking {
  margin: 4rem 0;
}

.booking__person  {
  display: flex;
  flex-wrap: wrap;
}

.booking__person .card:not(:last-child) {
  margin-right: 2rem;
}

.booking__person .card {
  max-width: 30rem;
}

.booking__person-btn {
  display: flex;
  align-items: center;
}

.booking__itog {

}

.booking__button {

}

/* --------------- booking html ----------------*/




/* --------------- register html ----------------*/

.register {
  max-width: 35rem;
  margin: 0 auto;
}

.register .card {
  margin: 0 auto;
}

/* --------------- register end ----------------*/




/* --------------- register html ----------------*/

.seat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  counter-reset: li;
  margin: 5rem 0;
}

.seat__row::before {
  position: absolute;
  counter-increment: li;
  content: counters(li,".") " Ряд"; 
  font-size: 1.4rem;
  top: -12%;
}



.seat__place:nth-child(2){
  margin-bottom: 1rem; 
 
}


.seat__place {
  padding: 0.4rem; 
  border: 1px solid #000;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: .5s;
}

.seat__place:hover {
  background-color: #6f90c4;
  color: #fff;
}

.seat__place.seat__active {
  background-color: #315f9d;
  color: #fff;
}

/* --------------- register end ----------------*/




/*-----------------------------------*/
/*--------- PAGES END--------------*/
/*-------------------------- -------*/


